/*!
Theme Name: The learning theme
Description: Starter theme for you website. 
Version: 1.0
Author: Tom Haxell Developer
Author URI: http://tomhaxell.com
*/

@import 'normalize';
@import 'typography';
@import 'navigation';
@import 'sidebar';
@import 'comments';
@import 'footer';
/*
====================================
Default Styling
====================================
*/

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.content {
	
}

.full {
	width: 100%;
}

html {
	font-size: 62.5%;
}

body {
	color: #333;
}

h1, h2, h3, h4, h5, ul, p { 
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2rem;
}

p {
	font-size: 1.5rem;
}

img {
	max-width: 100%;
}




// DESIGN CODING STARTS 


